<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalSQLServer" connectionString="Data Source=ASN-PC\SQL2008;Initial Catalog=shaahrAdmin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="shaahrEbookConnectionString" connectionString="Data Source=ASN-PC\SQL2008;Initial Catalog=shaahr_ebook;Integrated Security=True"    providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <authorization>
      <allow roles="Admin" />
    </authorization>
    <roleManager enabled="true" />
    <sessionState mode="InProc" timeout="20" cookieless="false"/>
    <compilation  debug="false"  targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <customErrors mode="Off" defaultRedirect="~\Outscope\Error\">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>